@media (max-width: 400px)
{
*{
 margin: 0;
 padding: 0;
}
#mainbody
{
    background-color: rgb(202, 255, 255);
}
#topimg
{
 width: 400px;
 height: 300px;
}
#botimg
{
    width: 400px;
    height: 300px;;
}
#mainhead{
    text-align: center;
}
#paramain
{
    text-align: center;
    
}
#explore
{
    width:200px;
    height:50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 204, 0);
    cursor: pointer;
}
}
